html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
  color: black;

  text-align: left;
  font-size: 1.8rem;

 
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
 
  
}
 #main-doc {
    position: relative;
    margin-left: 0px;
    
  }

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;

  width: 300px;
  height: 100%;
  border-right: 1px solid black;
  border-color: rgba(0, 22, 22, 0.4);
  right: 1100px;
}

#main-doc header {
  text-align: left;
  margin-top: 10px;
  margin-right: 85px;
 
}
.titulos {
left: 0px;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
 
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
 
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}
section li {
  margin: 15px 0px 0px 20px;
  
  
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: left;
  width: 100%;
  
}
p {
 
    margin: 10px;
    font-size: 0.96em;
}
.real-madrid {
  text-align: center;
}

@media (max-width: 768px) {
    
    p {
        font-size: 14px;
        background-color: rgb(236, 236, 236);
    }
}